@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./clash-display.css");

.dark {
	--border: #292929;
}

.light {
	--border: #cacaca !important;
}

.light .invert-image {
	filter: invert(1);
}

html {
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

/* Body Styles */
html,
body {
	padding: 0 !important;
	margin: 0 !important;
}

div[role="tabpanel"] {
	width: 100%;
}

img {
	user-select: none;
}

.border-default,
.border-medium {
	border-width: 1px !important;
	border-color: var(--border);
	transition: border-color 0.2s;
}

.default-background {
	background-color: var(--background);
}

/* Heading Styles */
h1 {
	font-size: 2.6em;
	font-weight: 600;
	line-height: 40px;
	font-family: "ClashDisplay-Semibold";
}

h2 {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 30px;
	font-family: "ClashDisplay-Semibold";
}

h3 {
	font-size: 1.2em;
	font-weight: 500;
	line-height: 30px;
}

header {
	font-family: "ClashDisplay-Semibold";
}

.sidebar-border {
	border-right: 1px solid var(--border);
}

.default-border {
	border: 1px solid var(--border);
}

.side-borders {
	border-left: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

.sidebar-border-mobile {
	border-top: 1px solid var(--border);
}

.bottom-border {
	border-bottom: 1px solid var(--border);
}
