.sidebar-container {
	width: 80px;
	transition: width 200ms ease-in-out;
}

.sidebar-container:hover,
.sidebar-mobile {
	width: 300px;
	border-right: 1px solid var(--border) !important;
}

.sidebar-container:hover .sidebar-inside {
	display: block;
}

.sidebar-inside {
	display: none;
	transition: all 100ms ease-in-out;
}

.sidebar-mobile .sidebar-inside {
	display: block;
}

.sidebar-wrapper {
	padding-left: 15.5px;
}
