.sidebar-container {
	width: 80px;
	transition: width 200ms ease-in-out;
}

.sidebar-container:hover,
.sidebar-mobile {
	width: 300px;
	border-right: 1px solid var(--border) !important;
}

.sidebar-container:hover .sidebar-inside {
	visibility: visible;
	opacity: 1;
}

.sidebar-inside {
	visibility: hidden;
	opacity: 0;
	transition: 200ms ease-in-out all;
}

.sidebar-mobile .sidebar-inside {
	opacity: 1;
	visibility: visible;
}

.sidebar-wrapper {
	padding-left: 15.5px;
}

@media (min-width: 640px) {
	.sidebar-mobile {
		display: none;
	}

	.sidebar-extras {
		display: none;
	}

	.sidebar-button {
		display: none !important;
		visibility: hidden;
	}
}
